.down_head{
    text-align: center;
    margin-top: 15px;
}

#a2{
    margin-left: 10px;
    letter-spacing: 2px;
}

.search_outer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: azure; */
}

.musicsearch{
    outline: none;
    background-color: transparent;
    border: none;
    height: 20px;
    width: 75%;
    padding: 10px;
    /* border-bottom: 1px solid red; */
    font-size: 15px;
}


/* .musicsearch */
.download_msg{
    text-align: center;
    margin-top: 25px;
    font-weight: 300;
    font-style: italic;
}