.outer_combo{
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    /* align-items: center; */
}

.download_combo{
    width: 25%;
    height: 95vh;
    overflow : auto;
    /* background-color: bisque; */
}

.music_combo{
    width: 75%;
    background-color: black;
}


@media(max-width: 2084px){
    .download_combo{
        width: 35%;
    }
    
    .music_combo{
        width: 65%;
    }
}

@media(max-width: 1440px){
    .download_combo{
        width: 45%;
    }
    
    .music_combo{
        width: 55%;
    }
}

@media(max-width: 1176px){
    .download_combo{
        width: 55%;
    }
    
    .music_combo{
        width: 45%;
    }
}

@media(max-width: 930px){
  .outer_combo{
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
  }

  .download_combo{
    width: 100%;
    order: 2;
}

.music_combo{
    width: 100%;
    order: 1;
}
}