.music_compo_outer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    height: 500px;
    /* margin: 1px 0px; */
}

.music_compo_inner{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    width: 90%;
    /* background-color: beige; */
    /* position: relative; */
    /* background-color: aqua; */
}

.music_text1,.music_text2{
    color: white;
    font-size: 20px;
}

.image_compo{
    height: 100%;
}

.my_music_img{
    height: 100%;
}

.steps1{
    /* background-color: yellow; */
    height: 100%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.steps2{
    /* background-color: yellowgreen; */
    height: 100%;
    margin-left: 25px;
}

.steps1 > .music_text1{
    margin-top: 5px;
}

.steps1 > .music_text2{
    margin-top: 145px;
}

.steps2 > .music_text1{
    margin-top: 95px;
}

.steps2 > .music_text2{
    margin-top: 145px;
}

@media(max-width: 900px){
    .music_text1,.music_text2{
        font-size: 15px;
    }
}

@media(max-width: 620px){
    .music_text1,.music_text2{
        font-size: 12px;
    }
}

/* @media(max-width: 360px){
    .steps1{
        margin-left: 10px;
    }
    .steps2{
        margin-right: 10px;
    }
} */

@media(max-width: 376px){
    .music_compo_outer{
        overflow-x: scroll;
    }
    .music_compo_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110%;
        /* padding: 50px; */
    }
    .steps1{
        margin-left: 40px;
    }
    .steps2{
        margin-right: 25px;
    }
}

.music_compo_head{
    color: white;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color: black;
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid white; */
    text-decoration: overline;
    animation: animate 1s infinite;
}

@keyframes animate{
    0%{
        color:magenta;
    }
    33%{
        color: yellow;
    }
    66%{
        color:lightskyblue;
    }
    100%{
        color:magenta;
    }
 }